# ignore everything

*

# but not these
!.gitignore
!.bash_aliases
!.compton.conf
!.i3status.conf
!.zshrc
!.vimrc
!.config/
!.config/i3/
!.config/i3/*
.config/i3/secrets
!.config/polybar/
!.config/polybar/config
!.config/polybar/launch.sh
!.config/polybar/info-hackspeed.sh
!.config/polybar/openweathermap-fullfeatured.sh
!.config/polybar/spotify
!.config/sublime-text-3/
!.config/sublime-text-3/Packages/
!.config/sublime-text-3/Packages/User/
!.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!.config/dunst/
!.config/dunst/dunstrc
!.tmux.conf
